[submodule "t3dfw"]
	path = t3dfw
	url = https://github.com/pjhusky/t3dfw.git
[submodule "external/utfcpp"]
	path = external/utfcpp
	url = git@github.com:nemtrif/utfcpp.git
[submodule "external/simdb"]
	path = external/simdb
	url = git@github.com:pjhusky/simdb.git
[submodule "external/libtinyfiledialogs"]
	path = external/libtinyfiledialogs
	url = git@github.com:pjhusky/libtinyfiledialogs.git
